<div ng-app="singlePageApp" ng-controller="MainCtrl">
<h1 id="title">External Contacts</h1>
  <h5 id="sub-title">Select the client contacts associated with this offer</h5>
  <table width="794"  align="center" cellpadding="0" cellspacing="0" class="table">
    <tr>
      <th width="35" align="left" valign="top" ng-repeat="header in headers" >{{header}}</th>
    </tr>
    <tr ng-repeat="row in contacts">
      <td align="left" valign="top" ><input type="checkbox" name="" value=""/></td>
      <td align="left" valign="top"  ng-repeat="(key, value) in row">{{value}}</td>
    </tr>
  </table>
</div>
